---
- include_tasks: os_info.yml
  when: print_os_vars | bool

- name: make versionscheck
  include_tasks: versioncheck.yml
  when: submodules_versioncheck|bool

- name: include OS specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Include OS specific task
  include_tasks: "{{ ansible_os_family }}.yml"

- include_tasks: sources.yml
  when: ansible_distribution == 'Debian'

- name: install base shell packages
  become: yes
  package:
    name: "{{ base_shell_packages }}"
    state: present

- name: Install base office packages
  become: yes
  package:
    name: "{{ base_office_packages }}"
    state: present

- name: Include and enable printer support
  include_tasks: "printer.yml"
  when: install_cups|bool

- name: Install some additional extra packages
  become: true
  package:
    name: "{{ install_extra_workstation_packages }}"
    state: present
  when: install_extra_workstation_packages is defined

- include_tasks: editor.yml
  when: editor_is_vim | bool
